<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>alo68.com</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href="https://dl.dropboxusercontent.com/u/420952/css/main.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/420952/css/reset.css">
<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/420952/css/pricing-tables.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>



<style>
		img.smallscreen { display: none; }
		@media only screen and (min-device-width : 320px) and (max-width: 568px) {
			img.bigscreen { 
				display: none; 
			}
			img.smallscreen { 
				display: inline; width:70%;
			}
		}
		
		img.biglogo { display: none; }
		@media only screen and (min-device-width : 320px) and (max-width: 568px) {
			img.smalllogo { 
				display: none; 
			}
			img.biglogo { 
				display: inline; width:40%;
			}
		}
		</style>

<!--[if lte IE 7]>
<style type="text/css">
#vc-main{height:100%;}
</style>
<![endif]-->
</head>

<body>
<div id="main">


     

    
      <!-- BEGIN: feature3-->
    <div id="feature3">
   	 <div class="featureContainer">
      <div class="descrF">
      		<div class="featuretxt">
				<h3>Giao dịch thành công!</h3>
      			<p>Số PIN bạn là <strong>{{pinnum}}</strong>!Thẻ của bạn đã được trừ <strong>${{ '%(amt).2f'|format(amt=amount/100) }}</strong>! 
 Nếu bạn ở US bấm số tổng đài (714)2001260 rồi bấm số PIN và số cần gọi ở VN. Nếu bạn ở VN bấm số tổng đài (848)73056345 rồi bấm số PIN và số cần gọi ở US
 <br>
<a href="http://www.alo68.com" >Mua thêm</a>

      			</p>
          </div> 		
      </div>
      	<div class="circular3"><img src=" https://dl.dropboxusercontent.com/u/420952/img/thanks.png"></div>
     </div>
    </div><!-- END: feature3 -->
    
   
    
    <!-- BEGIN: footer-->
   <div id="footer">
    <div class="footer_bottom container">
		<div class="col_2_3">
			<div class="clear padding40"></div>
			
			
		<span class="footertxt"><br>
				"Mọi chi tiết vui lòng liên hệ support@alo68.com hoặc 4154980844 ”<br>
			</span>
			
		</div>
			<div class="menu">
				<ul>
					<li><a href="mailto:support@alo68.com?Subject=Hi%20there" class="mail" target="_blank" style="display : block; "></a> </li>
                   <li><a href="https://twitter.com/getalo68" target="_blank" class="twitter" style="display : block; "></a> </li>
				<li><a href="https://www.facebook.com/getalo68" target="_blank" class="fb" style="display : block; "></a> </li>
				</ul>
				<p class="footertxt2">Alo68 là sản phẩm của Nhomnhom Inc ở New York. © 2013</p>
			</div>
			
			
	
	</div>
   </div><!-- END: footer -->
   
    
</div><!-- END: main -->
</body>
</html>
